datasets==3.0.0 # For loading and managing datasets
elastic-transport==8.15.0
elasticsearch==8.15.1 # If using Elasticsearch for retrieval instead of FAISS (optional)
faiss-cpu==1.8.0.post1 # For vector-based retrieval (use faiss-gpu if applicable)
Flask==3.0.3  # For web development
huggingface-hub==0.25.1
python-dotenv==1.0.1 # For environment variables
requests==2.32.3 # For API requests
torch==2.4.1 # For PyTorch models
transformers==4.13.0 # For RAG and other pre-trained models
